@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    text-align: center;
    font-family: "Roboto";
    background-color: whitesmoke;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

hr {
    border: 0;
    height: 1px;
    width: 300px;
    background: lightgray;
}

.percentage {
    width: 40px;
}
.amount{
    width: 100px;
}
.input-box {
    border-radius: 2px;
    border: none;
    background-color: lightgrey;
    text-align: center;
}
#content {
    background-color: white;
    height: 1900px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid lightgray;
}

#output {
    margin-bottom: 20px;
}

#graphs {
    margin-top: 20px;
}

#header {
    color: #f4511e;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.subtitle {
    font-weight: 600;
    text-align: center;
}



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}